<div id="content">
  <div class="row">
    <big-breadcrumbs items="['User Management', 'Create']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
  </div>
  <section id="widget-grid" data-widget-grid>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="widget-body no-padding">
          <form id="smart-form-register" class="smart-form" data-smart-registration-form>
            <fieldset>
              <section>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                      <input type="text" name="username" placeholder="Username" ng-model="role.username">
                      <b class="tooltip tooltip-bottom-right">Needed to enter the user</b> 
                    </label>
              </section>
              <section>
                <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                      <input type="email" name="email" placeholder="Email address" ng-model="role.email">
                      <b class="tooltip tooltip-bottom-right">Needed to verify your account</b> 
                    </label>
              </section>
              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <input type="password" name="password" placeholder="Password" id="password" ng-model="role.password">
                      <b class="tooltip tooltip-bottom-right">Don't forget your password</b> 
                    </label>
              </section>
            </fieldset>

            <fieldset>
              <div class="row">
                <section class="col col-6">
                  <label class="input">
                        <input type="text" name="firstname" placeholder="First name" ng-model="role.firstname">
                      </label>
                </section>
                <section class="col col-6">
                  <label class="input">
                        <input type="text" name="lastname" placeholder="Last name"  class="col col-6">
                      </label>
                </section>
              </div>

              <div class="row">
                <section class="col col-6">
                  <label class="select">
                    <select name="role" ng-model="role.role">
                        <option selected value=''>Role</option>
                        <option ng-repeat="rl in user.role">{{rl.type}}</option>
                    </select> <i></i> </label>
                </section>
                <section class="col col-6">
                  <input type="checkbox" name="active" ng-model="role.active">
                  <i></i>activate</label>
                </section>
              </div>
            </fieldset>
            <footer>
              <button type="submit" class="btn btn-primary" ng-click="user.createRole(role)">Submit</button>
            </footer>
          </form>
        </div>
      </article>
    </div>
  </section>
</div>