<div id="content">


  <div class="row">
    <big-breadcrumbs items="['User Management', 'Create']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
  </div>

  <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->
  <!-- widget grid -->
  <section id="widget-grid" data-widget-grid>
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div id="widget-title-widget" data-jarvis-widget>
          <!-- widget options:
                        usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
          <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>

            <h2>User and role permission Management</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <!-- this is what the user will see -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="alert alert-info alert-block">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <h4 class="alert-heading">Info!</h4>
                    This interface can handel all the user and role permission related queries.
                  </div>

                </div>

              </div>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->
    <!-- row -->
    <!-- end row -->
  </section>
  <!-- end widget grid -->
</div>