<div id="content">

  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark">
        <!-- PAGE HEADER --><i class="fa-fw fa fa-home"></i> Dashboard <span>>
							Map Database </span></h1>
    </div>
    <!-- end col -->

  </div>
  <!-- end row -->

  <!--
    The ID "widget-grid" will start to initialize all widgets below
    You do not need to use widgets if you dont want to. Simply remove
    the <section></section> and you can use wells or panels instead
    -->

  <!-- widget grid -->
  <section id="widget-grid" class="">

    <!-- row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title txt-color-blueDark text-center well">

          <!-- PAGE HEADER -->
          Database Adapter<br>
          <small class="text-primary">Select the database fields to sync the database.</small>
        </h1>
        <div class="widget-body">

          <form class="smart-form">
            <fieldset data-ng-repeat="choice in choices">
              <div class="row">
                <section class="col col-2">
                  <label class="select">
                <select>
                  <option>String</option>
                  <option>Int</option>
                  <option>Float</option>
                  <option>Numeric</option>
                  <option>Boolean</option>
                </select>
                      </label>
                </section>
                <section class="col col-2">
                  <label class="input">
                <input type="text" ng-model="choice.name" name="" placeholder="Your database field">
                      </label>
                </section>
                <section class="col col-2">
                  <label class="input">
                <input type="text" ng-model="choice.mappedName" name="" placeholder="Mapped database field">
                      </label>
                </section>
                <a class="btn btn-default btn-sm" ng-show="$last" ng-click="removeChoice()">Remove</a>
              </div>
            </fieldset>
            <fieldset>
              <a class="btn btn-default btn-lg" href-void ng-click="addNewChoice()">Add fields</a>
              <a class="btn btn-primary btn-default btn-lg" href-void>Sync fields</a>
              <!--<div id="choicesDisplay">
                {{ choices }}
              </div>-->
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <!-- end row -->

  </section>
  <!-- end widget grid -->

</div>