<div id="content">

  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark">
        <!-- PAGE HEADER --><i class="fa-fw fa fa-home"></i> Dashboard <span>>
							Upload Excel </span></h1>
    </div>
    <!-- end col -->

  </div>
  <!-- end row -->

  <!--
    The ID "widget-grid" will start to initialize all widgets below
    You do not need to use widgets if you dont want to. Simply remove
    the <section></section> and you can use wells or panels instead
    -->

  <!-- widget grid -->
  <section id="widget-grid" class="">

    <!-- row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title txt-color-blueDark text-center well">

          <!-- PAGE HEADER -->
          Upload Excel<br>
          <small class="text-primary">Please make sure the excel matches the correct standards.</small>
        </h1>
        <div jarvis-widget id="basic-form-elements" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
          <div class="widget-body" style="height: 230px;">
            <div class="demo-btns custom-spinner" style="position: absolute; margin: 2% 51%; z-index: 9;" ng-if="isUploading">
              <p>
                <b>uploading...</b>
              </p>
              <a href-void class="btn bg-color-red txt-color-white"><i class="fa fa-gear fa-4x fa-spin"></i></a>
            </div>
            <form class="smart-form" ng-if="!isUploading">
              <fieldset>
                <section>
                  <label class="label">Select Excel</label>
                  <div class="input input-file" cg-busy="myPromise">
                    <span><input type="file" file-model="myFile" /></span>
                    <br/>
                    <button class="btn-primary btn-lg Button" ng-click="uploadFile()">upload</button>
                  </div>
                </section>
              </fieldset>
            </form>
          </div>

        </div>
      </div>
    </div>
    <!-- end row -->

  </section>
  <!-- end widget grid -->

</div>